*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
}

#logo {
    height: 37px;
    width: 265px;
    background-color: transparent;
    font-size: 31px;
    margin: 34px 45px;
}

.navbar-brand{
    text-decoration: none;
        font-size: 1.1em;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        text-transform: uppercase;
        display: block;
        padding: 0;
        height: 46px;
        text-shadow: 0 1px 2px rgb(0 0 0 / 31%)
}

.navbar-brand span{
    background: #fff;
    color: #2e2f2f;
    display: inline-block;
    padding: 4px;
}

.navbar-brand i{
    font-style: normal;
    color: white;
    margin-left: 0px;
    display: inline-block;
}



#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    margin: 45px 45px;
}

#navbar ul li a:hover{
    background-color: grey;
    border-radius: 2px;
    /* width: 50px;
    height: 26px; */
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;

}

#home::before{
    content: "";
    background: url('../frontimg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 830px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#home h1{
    color: white;
    text-align: center;
    font-size: 15.5rem;
    margin-top: -150px;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 19px;
}

#home ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
}

/* #navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    margin: 50px 45px;
} */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 65px;
  }

  .fa:hover {
    opacity: 0.7;
    color: red;
  }


/* Middle container */
#middle-container{
    position: relative;
    display: flex;
    height: 500px;
    width: 90%;
    margin-top: 34px;
    flex-basis: 18%;
    flex-grow: 1;
    margin-left: 78px;
    margin-bottom: 36px;
}

#middle-container h1{
    margin-top: 109px;
    margin-left: 63px;

    font-size: 39px;
    color: #FFF;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px
}

#middle-container p{
    margin-left: 63px;
    margin-top: 29px;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.9em;
}

.hh {
    width: 28%;
    height: 500px;
    background-color: black;
    color: white;
}

#middle-container img{
    height: 500px;
    width: 950px;
}

#middle-container .btn2{
    border: 2px solid black;
    background-color: #fb383b;
    color: white;
    margin: 60px;
    padding: 0.6em 1em;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.h{
    width: 28%;
    height: 500px;
    background-color: #fb383b;
    color: white;
}

.h3{
    width: 28%;
    height: 500px;
    background-color: #0C1F42;
    color: white;
}

.btn{
    background-color: black;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    margin: 60px;
    padding: 0.6em 1em;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.btn3{
    background-color: #273142;
    border: 0px;
    color: white;
    margin: 60px;
    padding: 0.6em 1em;
    font-size: 0.9em;
    letter-spacing: 1px;

}

#middle-container a .btn, .btn2, .btn3{
    cursor: pointer;
}


/*Footer*/
footer{
    display: flex;
    height: 400px;
    background-color: black;
    color: white;
    margin-top: 0px;
}

.footer{
    margin-top: 50px;
    margin-left: 139px;
}

.footer h1{
    font-size: 36px;
}

.footer p{
    color: #737070;
    line-height: 2em;
    font-size: 20px;
    margin-top: 22px;-top: 33px;
}

footer .fa-facebook{
     background: #3b5998;
}

footer .fa-twitter{
    background-color: #00acee;
}

footer .fa-instagram{
    background-color: #f77737;
}

footer .fa-linkedin{
    background-color: #0046BE;
}

footer .icons{
    margin-top: 41px;
}

.store{
    margin-top: 50px;
    margin-left: 527px;
}

.store-info{
    margin-left: 45px;
     margin-top: 42px;
}

.store h1{
    font-size: 23px;
}

.store i{
    margin-left: -74px;
}

.fa{
    margin-top: -37px;
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}



.center{
    text-align: center;
}
